<p id="notice"><%= notice %></p>

<h1>Listing Registered Applications</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @registered_applications.each do |registered_application| %>
      <tr>
        <td><%= registered_application.name %></td>
        <td><%= registered_application.url %></td>
        <td><%= link_to 'Edit', edit_registered_application_path(registered_application), class: 'btn btn-info' %></td>
        <td><%= link_to 'Destroy', registered_application, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registered application', new_registered_application_path, class: 'btn btn-success' %>
