<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registered_application.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @registered_application.url %>
</p>

<%= link_to 'Edit', edit_registered_application_path(@registered_application) %> |
<%= link_to 'Back', registered_applications_path %>
